[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bipartite"]
	path = bipartite
	url = https://github.com/biometry/bipartite
	subdir = bipartite
[submodule "tapnet"]
	path = tapnet
	url = https://github.com/biometry/tapnet
	subdir = tapnet
